/* remove blue ribbon */
.ics-scbanner-gen4border {
    background-color: #fff !important;
    }

/*change search box */
.search-history-view-ui .lotusui30 .icSearchPaneButton .icSearchIcon svg {
    fill: #000 !important;
}

.search-history-view-ui .lotusui30 .icSearchPaneButton {
    background-color: #eee !important;
    outline: 1px solid #eee !important;
  }

/* Hide the top header of the business card */
.personMenu .topActionHolder{
    display: none !important;
}

/*.lotusui30 a, .lotusui30 a:visited{
    color: #464646 !important;
}*/

/*Hide Font and Size dropdown in text editor */
 span#cke_14.cke_combo.cke_combo__font.cke_combo_off, span#cke_15.cke_combo.cke_combo__fontsize.cke_combo_off, 
 span#cke_13.cke_combo.cke_combo__font.cke_combo_off, span#cke_14.cke_combo.cke_combo__fontsize.cke_combo_off{
     display: none !important;
}

/* Hide similar blog entries */
.lotusSection[aria-label="Similar Blogs"] { display: none !important;}
.lotusSection[aria-label="Similar Entries"] { display: none !important;}
